USE [MiPol_Negocio]
GO
/****** Object:  Table [dbo].[sspdf_sectores_2017]    Script Date: 08/03/2018 02:11:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sspdf_sectores_2017](
	[ogr_fid] [int] IDENTITY(1,1) NOT NULL,
	[ogr_geometry] [geometry] NULL,
	[cat] [numeric](20, 5) NULL,
	[id] [numeric](20, 5) NULL,
	[delegacion] [nvarchar](80) NULL,
	[nombre] [nvarchar](80) NULL,
	[region] [numeric](20, 5) NULL,
	[zona] [nvarchar](80) NULL,
	[ct] [nvarchar](80) NULL,
	[x] [numeric](20, 5) NULL,
	[y] [numeric](20, 5) NULL,
	[m2] [numeric](20, 5) NULL,
	[x_wgs84] [numeric](20, 5) NULL,
	[y_wgs84] [numeric](20, 5) NULL,
 CONSTRAINT [PK_sspdf_sectores_2017] PRIMARY KEY CLUSTERED 
(
	[ogr_fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[sspdf_sectores_2017] ON 

SET IDENTITY_INSERT [dbo].[sspdf_sectores_2017] OFF
